h1{
    color: rgb(34, 31, 31);
    text-align: center;
    font-size: 80px;
    font-family: Arial;
}

body{

    font-size: 30px;
    font-family: verdana;
    background-color: rgba(240, 181, 94, 0.733);
 }

 p{ 
    text-align: left;
}

header{ 
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;

}

nav a{ 
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
