
h1{
    color: rgb(111, 0, 255);
    text-align: center;
    font-size: 80px;
    font-family: Arial;
}

body{

   font-size: 30px;
   font-family: verdana;
   background-color: rgb(61, 223, 252);
}

#roupas {
    width: 100%;
    
}

p{ 
    text-align: left;
}

