
h1{
    color: aqua;
    text-align: center;
    font-size: 80px;
    font-family: Arial;
}

body{

   font-size: 30px;
   font-family: verdana;
   background-color: pink;
}

#roupas {
    width: 100%;
}


<ul>  {
    <li>Camisa Vermelha</li>
    <li>Camisa Azul</li>
    <li>Camisa Preta</li>
</ul>

}

