
h1{
    color: aqua;
    text-align: center;
    font-size: 80px;
    font-family: Arial;
}

body{

   font-size: 60px;
   font-family: verdana;
   background-color: pink;
}

#roupas {
    width: 100%;
}